.main{
    color: blue;
    background-color: rgb(241, 241, 241);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.containerPeinados{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px ;
    width: 100%;
    background-color: rgb(189, 189, 189);
    
}
.containerTurno{
    background-color: rgb(163, 163, 152);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px ;
    width: 100%;

}
.mySwiper{
    height: 100%;
    width: 100%;
}
.swiperSlide{
    min-width: 300px;
    text-align: center;
  font-size: 18px;
  background: #ffffff60;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}